<!DOCTYPE html>

<html>
<head>
	<title>Todo App</title>
</head>

<body>
<h3>
	 Welcome <%= User.get(user_id).email %>
</h3>

<a href="/signout"> Sign Out </a>

	<p class ="d">
	<form action = "/add" method="POST">
		&nbsp; &nbsp;
		<input type = "text" name="task" />
		&nbsp; &nbsp; &nbsp; &nbsp;
		<input type = "checkbox" name="imp" value="true"> <label> Important </label>
		&nbsp; &nbsp; &nbsp; &nbsp;
		<input type = "checkbox" name="urgent" value="true"> <label> Urgent </label>
		&nbsp; &nbsp; &nbsp; &nbsp;
		<input type = "submit" value="Add Task" />
		<br>
		<br>
	</form>
	</p>
	

	<h5>
		Key: 
		&nbsp; <font color="green"> Only Important </font>
		&nbsp; &nbsp; &nbsp; &nbsp; <font color="purple"> Only Urgent </font> 
		&nbsp; &nbsp; &nbsp; &nbsp; <font color="red"> Both </font> 
		&nbsp; &nbsp; &nbsp; &nbsp; <font color="gray"> Neither </font> 
		<br>
		<br>
	</h5>

	


	<h5 style="margin-left: 110px;">
		Important &nbsp; &nbsp; &nbsp; &nbsp; Urgent
	</h5>



	

	<ul>
		<% tasks.each do |todo| %>
		<div class ="ch">	
			<% if todo.done %>
			<li class = "strikethrough">
			<% else %>
			<li>
			<% end %>

			<% if !todo.imp and !todo.urgent %>
				<span class = "none"> 
			<% elsif todo.imp and !todo.urgent %>
				<span class = "i"> 
			<% elsif !todo.imp and todo.urgent %>
				<span class = "u"> 
			<% elsif todo.imp and todo.urgent %>
				<span class = "both"> 
			<% end %>
			<%= todo.task%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				</span>
		</div>
				
					
				
				<form action="/check" method="POST">
				
					<input type="hidden" name="id" value="<%= todo.id %>" >
					<% if todo.imp %>
						<input type="checkbox" name="imp" value="true" checked> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<% else %>
						<input type="checkbox" name="imp" value="true"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
					<% end %>
			
					<% if todo.urgent %>
						<input type="checkbox" name="urgent" value="true" checked>
					<% else %> 
						<input type="checkbox" name="urgent" value="true">
					<% end %>	
				
					&nbsp; &nbsp; &nbsp;				
					<input type = "submit" value="Reset Priority" />
				</form>
				
				<br>
				<form action="/done" method = "POST">
					<input type="hidden" name="id" value="<%= todo.id %>" >
					<% if todo.done %>
						<input type = "submit" value = "Undone">
					<% else %>
						<input type="submit" value="Done">
					<% end %>
				</form>		
			</li>
			<br> <br> <br>
		<% end %>
	</ul>


	<style type="text/css">
	.strikethrough{
		text-decoration: line-through;

	}

	.d{
   		 box-sizing: border-box;
    	 margin-top: 2px;
	}

	.i{
   		 color: green;
	}

	.u{
		 color: purple;
	}

	.none{
		 color: gray;
	}

	.both{
		 color: red;
	}


	.ch{
   		 box-sizing: border-box;
   		 width: 6%;
    	 float: left;
	}
	</style>

</body>

</html>